{% extends 'base.html' %}

{% block title %}About Us - Freshers Party{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="mt-4 mb-4">About Us</h2>
        <p>Welcome to Freshers Party - your ultimate destination for organizing memorable events for freshers at KCES Moolji Jaitha College, Jalgaon!</p>
        
        <p>At Freshers Party, we believe in creating unforgettable experiences for the newest members of our college community. We understand that the transition to college life can be both exciting and overwhelming, and that's why we're here to make it as smooth and enjoyable as possible.</p>

        <p>Our team of dedicated event organizers works tirelessly to plan and execute a wide range of fun and engaging activities specifically tailored to welcome and integrate freshers into the college environment. From themed parties and icebreaker games to talent shows and orientation sessions, we ensure that every event is filled with excitement, laughter, and opportunities to connect with fellow students.</p>

        <p>With a focus on fostering inclusivity, friendship, and school spirit, Freshers Party is more than just an event organizer - we're a community of students committed to making everyone feel welcome and valued from day one.</p>

        <p>Join us as we embark on this journey of creating lasting memories and forging lifelong friendships. We can't wait to welcome you to KCES Moolji Jaitha College and kick off your college experience in style!</p>
    </div>
</div>
{% endblock %}
